<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Cliente</title>
</head>
<body>
    <h1>Cadastro de Cliente</h1>
    <form action="/cadastrar_cliente" method="POST">
        Nome: <input type="text" name="nome"><br>
        Sobrenome: <input type="text" name="sobrenome"><br>
        Email: <input type="text" name="email"><br>
        Telefone: <input type="text" name="telefone"><br>
        Data Nascimento: <input type="date" name="data_nascimento"><br>


        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>
